.ficha {
    width: 916px;
    margin: 30px auto 10px;
    line-height: 1.5;
}
@media print {
    .ficha {
        margin-top: 18px;
    }
}
.ficha__linha-de-emblema-e-titulo {
    display: grid;
    grid-template-columns: 120px 1fr 100px;
}
.ficha__header__col-de-emblema {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ficha__emblema {
    width: 40px;
}
.ficha__box-descricao-de-emblema span {
    font-size: 9px;
    line-height: 1.2;
    display: block;
    text-align: center;
}
.ficha__titulo {
    font-size: 20.4px;
    text-align: right;
    margin-bottom: 15px;
    align-self: center;
    justify-self: center;
    font-weight: 700;
}
.ficha__linha-de-localizacao {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
    min-height: 22px;
    padding-left: 30px;  
}
.ficha__linha-de-localizacao__col {
    display: flex;
    margin-right: 15px;
}
.ficha__linha-de-localizacao__col--no-margin-r {
    margin-right: 0
}
.ficha__linha-de-localizacao__col input {
    width: 100%;
}
.ficha__linha-de-localizacao__col input::-webkit-calendar-picker-indicator {
    display: none !important;
}
.ficha__body__header {
    display: grid;
    grid-template-columns: 428px calc(48px * 2 + 8px) 48px repeat(3, calc(48px * 2)) 48px;
}
@media screen {
    .ficha__body__header {
        position: sticky;
        top: 0;
        background-color: var(--yt);
        z-index: 333;
    }
    .body-com-topo-propaganda .ficha__body__header {
        top: 36px;
    }
}
.ficha__body__header--margin-top {
    margin-top: 8px;
}
.ficha__header__col--margin-l {
    margin-left: 8px;
}
.ficha__header__grade-de-idade-e-sexo {
    display: grid;
    grid-template-columns: repeat(2, 48px);
}
.ficha__header__grade-de-idade-e-sexo span:first-child {
    grid-column: 1/3;
}
.ficha__header__nota {
    align-self: end;
    font-style: italic;
    font-size: 10.50px;
    text-align: center;
}
.ficha__body__row {
    display: grid;
    grid-template-columns: 28px 400px calc(48px * 2 + 8px) repeat(8, 48px);
    min-height: 36px;
}
.ficha__body__numero-de-linha {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2px;
}
.ficha__body__row--seccao-2 {
    display: grid;
    grid-template-columns: 28px 150px 250px calc(48px * 2 + 8px) repeat(8, 48px);
    grid-template-rows: repeat(2, 1fr);
}
.ficha__container-de-indicador--grid-row-2 {
    grid-column: 2/3;
    grid-row: 1/3;
    text-align: center;
}
.ficha__body__header--seccao-3 {
    grid-template-columns: 428px calc(48px * 2 + 8px) repeat(2, calc(48px * 2)) 48px calc(48px * 2);
    text-align: center;
}
.ficha__header__col-mulheres-gravidas {
    display: grid;
    grid-template-columns: 100%;
    min-height: 115px;
}
.ficha__header__col-mulheres-gravidas span {
    transform: rotate(-90deg);
}
.ficha__header__grade-de-idade-e-sexo--margin-l,
.celula--margin-l {
    margin-left: 6px;
}
.ficha__body__row--seccao-3 {
    grid-template-columns: 28px 400px 56px repeat(6, 48px) 50px 46px;
}
.ficha__header_-col-total-em-seg {
    display: grid;
    grid-template-columns: 42px 1fr;
}
.ficha__body__glossario {
    font-size: 11px;
    font-style: oblique;
    margin-left: 28px;
}
.ficha__container-de-indicador {
    padding: 2px 4px;
}
.--destaque-padrao {
    background-color: var(--gray--c);
}
[data-total]:focus,
.input-celular--focus:focus,
.input-nao-celular:focus {
    border-bottom: 2px solid var(--blue);
    background-color: var(--greenyellow);
    color: var(--cor-de-texto);
}
@media screen {
    .input--realcar-totais {
        background-color: var(--cor-de-realce-de-totais);
    }
    .ficha__body__row.--highlight * {
        background-color: var(--orange) !important;
        color: var(--cor-de-texto);
    }
    .ficha__body__row.--highlight .input--bg-color-danger {
        background-color: var(--cor-de-risco) !important;
        color: var(--yt);
    }
}
.input--bg-color-danger {
    background-color: var(--cor-de-risco) !important;
    color: var(--yt);
}
.input-celular--nao-aplicavel {
    background-color: var(--fullblack) !important;
    color: var(--fullblack);
}
.input--font-small {
    font-size: 12px;
}
.input--text-center {
    text-align: center;
}
.ficha__rodape {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    padding-left: 28px;
}
.ficha__rodape__col {
    min-height: 45px;
    display: grid;
    grid-template-rows: repeat(2,24px);
}
.input-data-da-revisao {
    display: flex;
}